*{
    background-color: lightgrey;

}
body section img {

border-style: dotted;
border-top-color: yellow;
border-bottom-color:tomato;
border-left-color:red;
border-right-color:  darkgreen;
border-width: 10px;
    position: relative;
    top:100px;
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    height: 180px;
margin: 30px;
}
body button {
    position: sticky;
    left: 500px;
    top: 30px;
    margin: 10px;
    height: 100px;
    width: 300px;
    font-size: 30px;
    background-color: rgb(162, 250, 0);
    color: rgb(255, 71, 71);
font-family: monospace;
}
ul {
    margin :150px;
font-family:sans-serif;
    color:rgb(3, 155, 160);
    font-size: x-large;
}
button:hover{
    background-color: darkslateblue;
}

section img {
    
}